.history-main-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #050505; */
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    border : 1px solid #fff;
}

.history-card {
    display: flex;
    background-color: #333;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.history-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

button {
    background-color: #1e90ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #3742fa;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #fff;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

h3 {
    margin: 10px 0;
}

.history-item {
    background-color: #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.history-item h1 {
    margin: 0;
    font-size: 24px;
}

.history-item h3 {
    margin: 5px 0;
    font-size: 18px;
}
